:root {
 --y-brasil: #f1e45f;
 --b-brasil: #132f88;
 --g-brasil: #00d972;
}



body {
    background-color: var(--y-brasil)!important;
}

#title-menor {
    color: var(--g-brasil)
}

#title-maior {
    color: var(--b-brasil)
}

#p-layout {
    color: var(--b-brasil)
}

#img-navbar {
    border-radius: 150px!important;
}

#img-layout {
    width: auto;
    height: 300px!important;
}

#img-quem-somos{
    width: auto;
    height: 60vh;
}

#img-quem{
    width: auto;
    height: 300px!important;
    border-radius: 150px!important;
}

section{
    height: 100vh;
}

#list{
    background-color: var(--g-brasil);
    width: 100%!important;
    height: 125px;
}

#perguntas-frenquentes{
    background-color: var(--b-brasil)!important;
    width: 100%!important;
}

#card-perguntas{
    border: 2px solid var(--y-brasil)!important;
    border-radius: 6px;
}

